*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    row-gap: 30px;
}

.post-content{
    width: 100%;
    max-width: 800px;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 6px #80808067;
}

.post{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.post > input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.post > input:checked ~ .post__img > img{
    object-fit: contain;
}

.post > .post__img{
    width: 100%;
    height: 90vw;
    user-select: none;
}

.post > .post__img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    color: gray;
    font-size: 17px;
    position: absolute;
    bottom: 2px;
    right: 2px;
}